config.php
npm-debug.log
yarn-error.log
todo.md
composer.phar
.htaccess
error_log

/uploads/**
/media/**
!/uploads/**/
!/media/**/
!/uploads/**/.gitkeep
!/media/**/.gitkeep
!.gitkeep

robots.txt
sitemap.xml

vendor/
node_modules/
assets/theme/
!*.example 

admin/includes/config.php
.env
.env.*
# Local secret/config files
admin/includes/config.php
cms_wdy/includes/config.php
.env
.env.*
